body {
    font-family: 'Courier New', Courier, monospace;
}

h1,
p,
li {
    color: red;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: blue;
    font-size: 1.2em;
}

.job-title {
    font-weight: bold;
}